@{
    ViewBag.Title = "Doctors";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="form-grids row widget-shadow" data-example-id="basic-forms">
    <div class="form-title">
        <h4>Doctors</h4>
    </div>
    <div class="form-body">
        <div class="table-responsive">
            <table class="table" id="table_doctors">
                <thead class="bg-info">
                    <tr>
                        <td>doctorUid</td>
                        <td>Doctor Name</td>
                        <td> sppecialization</td>
                        <td>departmentId</td>
                        <td>dob</td>
                        <td>Bloodgroup</td>
                        <td>email</td>
                        <td>contact</td>
                        <td>city</td>
                        <td>state</td>
                        <td>country</td>
                        <td>acnt_date</td>
                        <td>is active</td>

                    </tr>
                </thead>
                <!--<tbody>
                    <tr>
                        <td>1</td>
                        <td>Dr. Patro</td>
                        <td>Mr. Gana</td>
                        <td>24/02/2018 16:00:00</td>
                        <td>Strong Fever</td>
                    </tr>
                </tbody>-->
            </table>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-block btn-primary" name="admin_add_doctor" data-toggle="modal" data-target="#addDoctor"><i class="fa fa-edit"></i> Add Doctor</button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addDoctor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Doctor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                  <!--      <div class="form-grids row widget-shadow" data-example-id="basic-forms">
                            <div class="form-title">
                                <h4>Add Doctor</h4>
                            </div>  
                            <div class="form-body fluid">   -->

                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label for="doctor_fullName">full name</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" id="doctor_fullName" name="doctor_fullName" class="form-control" placeholder="Full Name" />
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label for="doctor_specialization">specialization</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" id="doctor_specialization" name="doctor_specialization" class="form-control" placeholder="specialization" />
                                    </div>
                                </div>

                                <!-- <div class="row form-group">
                                     <div class="col-md-3">
                                         <label for="admin_email">department id</label>
                                     </div>
                                     <div class="col-md-9">
                                         <input type="email" id="admin_email" name="admin_email" class="form-control" placeholder="Email" />
                                     </div>
                                 </div>-->

                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label for="doctor_dob">date of birth</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="date" id="doctor_dob" name="doctor_dob" class="form-control" placeholder="Date of Birth" />
                                    </div>
                                </div>

                                <!-- <div class="row form-group">
                                     <div class="col-md-3">
                                         <label for="admin_dob">Role Id</label>
                                     </div>
                                     <div class="col-md-9">
                                         <input type="date" id="admin_dob" name="admin_dob" class="form-control" placeholder="Date of Birth" />
                                     </div>
                                 </div>-->
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label for="doctor_bloodgroup">Blood group</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" id="doctor_bloodgroup" name="doctor_bloodgroup" class="form-control" placeholder="blood group" />
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label for="doctor_email">Email</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="email" id="doctor_email" name="doctor_dob" class="form-control" placeholder="email" />
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label for="doctor_contact">Contact</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="number" id="doctor_contact" name="doctor_contact" class="form-control" placeholder="contact number" />
                                    </div>
                                </div>


                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label for="doctor_addCity">Address: City</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" id="doctor_addCity" name="doctor_addCity" class="form-control" placeholder="City" />
                                    </div>
                                    <div class="col-md-2">
                                        <label for="doctor_addState">State</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="doctor_addState" name="doctor_addState" class="form-control" placeholder="State" />
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label for="doctor_addCountry">Country</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" id="doctor_addCountry" name="doctor_addCountry" class="form-control" placeholder="Country" />
                                    </div>
                                    <div class="col-md-2">
                                        <label for="doctor_addPin">Pin</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="number" id="doctor_addPin" name="doctor_addPin" class="form-control" placeholder="Pin" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-primary">Add doctor</button>
                                    </div>
                                </div>

                                <!-- <div class="row form-group">
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-block btn-primary" name="admin_profile_edit"><i class="fa fa-edit"></i> Edit Profile</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-block btn-primary" name="admin_password_edit"><i class="fa fa-edit"></i> Change Password</button>
                                    </div>
                                </div>-->


                        <!--    </div>  

                        </div>  -->


                    </div>
           <!--         <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add doctor</button>
                    </div>  -->
                </div>
            </div>
        </div>

        <!-- Model close-->

    </div>

</div>

<script>
    $(document).ready(function () {
        $("#table_doctors").DataTable();
    });
</script>