
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<br />

<!--TABLE-->
@*<div class="col_1">
        <div class="col-md-12">
            <div class="activity_box activity_box1">
                <h2>DOCTOR POSTS</h2>
                <div class="scrollbar" id="style-1">


                    <table id="myTable" class="table">
                        <thead class="bg-info">
                            <tr>
                                <th>S.No</th>
                                <th>DOCTOR ID</th>
                                <th>DOCTOR NAME</th>
                                <th>POST TITLE</th>
                                <th>POST DESCRIPTION</th>
                                <th>POST TAGS</th>
                                <th>POST DATE/TIME</th>

                            </tr>
                        </thead>


                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (System.Data.DataRow row in Model.Rows)

                            {

                                <tr bgcolor="#FFFFCC">
                                    <td height="75">@i</td>
                                    @foreach (var cell in row.ItemArray)
                                    {

                                        if (cell != null)
                                        {
                                            <td>@cell.ToString()</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }

                                    }
                                </tr>
                                i = i + 1;

                            }




                        </tbody>


                    </table>
                </div>

            </div>
        </div>



        <div class="clearfix"> </div>
    </div>*@
<div class="col-md-12">
    <div class="activity_box">
        <h2>Doctor Posts</h2>
        <div class="scrollbar" id="style-1">
            @*<div class="activity-row">
                    <div class="row">
                        <div class="col-xs-12 activity-desc">
                            <h5><a href="#">Post Title</a></h5>
                            <p>Post Body</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 activity-img">
                            <img src='/images2/4.jpg' class="img-responsive" alt="" />
                        </div>
                        <div class="col-xs-9 activity-desc1">
                            <h6>Post Time</h6>
                        </div>
                    </div>
                </div>*@

            <!--     <div class="activity-row activity-img">
                 <div class="col-xs-3 activity-img"><img src='/images2/4.jpg' class="img-responsive" alt="" /></div>
                 <div class="col-xs-7 activity-desc">
                     <h5><a href="#">Post Title</a></h5>
                     <p>Post Body</p>
                 </div>
                 <div class="col-xs-2 activity-desc1"><h6>Post Time</h6></div>
                 <div class="clearfix"> </div>
             </div>  -->

        </div>
    </div>
</div>
<div class="clearfix"> </div>
<script type="text/javascript">
    $.get('/Patient/Index2', function (data) {
        data = JSON.parse(data);
        var rows = "";
        /*    $.each(data.Table, function (i, v1) {
                rows += "<div class='activity-row'><div class='col-xs-3 activity-img'><img src='" + v1.STAFF_PROFILE_PIC + "' class='img-responsive' alt='" + v1.STAFF_NAME + " ( " + v1.DOCTOR_ID + " )' title='" + v1.STAFF_NAME + " ( " + v1.DOCTOR_ID + " )' height='50px' width='50px' /></div><div class='col-xs-7 activity-desc'><h5><a>" + v1.POST_TITLE + "</a></h5><p>" + v1.POST_BODY + "</p></div><div class='col-xs-2 activity-desc1'>" + v1.POST_DATE + "</h6></div><div class='clearfix'> </div></div >";
            });*/

        $.each(data.Table, function (i, v1) {
            rows = "<div class='activity-row'><div class='row'><div class='col-xs-12 activity-desc'><h4><a>" + v1.POST_TITLE + "</a></h4><p class='post_body'>" + v1.POST_BODY + "</p></div></div ><div class='row'><div class='col-xs-6'></div><div class='col-xs-1 activity-img'><img src='" + v1.STAFF_PROFILE_PIC + "' class='img-responsive' alt='" + v1.STAFF_NAME + " ( " + v1.DOCTOR_ID + " )' title='" + v1.STAFF_NAME + " ( " + v1.DOCTOR_ID + " )' height='30px' width='30px' /></div><div class='col-xs-3 activity-desc1'><h6>Posted by - " + v1.STAFF_NAME + " ( " + v1.DOCTOR_ID + " )</h6></div><div class='col-xs-2 activity-desc1'><h6>" + v1.POST_DATE + "</h6></div></div><div class='clearfix'> </div></div>";
            $('#style-1').prepend(rows);
        });

        //    $('#style-1').html(rows);
        $('.post_body').css("font-size", "16px");
    });



</script>