
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<div class="form-grids row widget-shadow" data-example-id="basic-forms">
    <div class="form-title">
        <h4>My Profile</h4>
    </div>
    <div class="form-body">
        Body
    </div>

</div>

