
@{
    ViewBag.Title = "My Appointment";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}

<div class="form-grids row widget-shadow" data-example-id="basic-forms">
    <div class="form-title">
        <h4>My Appointment</h4>
    </div>
    <div class="form-body">
        Body
    </div>

</div>

