
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}

<div class="form-grids row widget-shadow" data-example-id="basic-forms">
    <div class="form-title">
        <h4><b>Error</b></h4>
    </div>

    <div class="form-body">

    </div>
</div>


