
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}


<div class="charts">
    <div class="mid-content-top charts-grids">
        <div class="middle-content">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Today Reminders</button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Today Reminders</h4>
                        </div>
                        <div class="modal-body">
                            <table id="myTable1" class="table">
                                <thead>
                                    <tr>
                                        <th nowrap>Messages</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <!--ModalClose-->

        </div>

        <!-- start content_slider -->
        @*<div id="owl-demo" class="owl-carousel text-center">
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="/images2/slider1.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="/images2/slider2.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="/images2/slider3.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="/images2/slider4.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="/images2/slider5.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="/images2/slider6.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="/images2/slider7.jpg" alt="name">
                </div>
            </div>*@
    </div>
    <!--//sreen-gallery-cursual---->
</div>


<div class="col-md-5">
    <div class="activity_box">
        <h2>My Feedbacks</h2>
        <div class="scrollbar" id="style-1">


        </div>
        @*<form action="#" method="post">
                <input type="text" value="Enter your text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your text';}" required="">
                <input type="submit" value="Submit" />
            </form>*@
    </div>
</div>

<div class="col-md-7">
    <div class="activity_box activity_box2">
        <h3>Add Reminder</h3>





        <div class="form-body">


            <div style="height:400px;width:550px">

                @Html.Raw(Model.Render())
            </div>

        </div>


        @*<form method="post">
                <div class="activity-desc">
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label>Your Message</label>
                            <input type="text" id="Text" style="width:150px" class="form-control" />
                        </div>

                        <div class="col-md-4">
                            <label for="selectDate">Select Date</label>
                            <input type="date" id="selectDate" class="form-control" />
                        </div>


                        <div class="col-md-4">
                            <label></label>
                            <button class="btn btn-success form-control center-block" type="button" id="btnpost" name="btnpost">Submit</button>
                        </div>


                    </div>
                </div>
            </form>*@
    </div>
    <div class="clearfix"> </div>
</div>
<div class="clearfix"> </div>

<script type="text/javascript">
    $.get('/Doctor/GetPatFeedback', function (data) {
        data = JSON.parse(data);
        var rows = "";
        $.each(data.Table, function (i, v1) {
            rows += "<div class='activity-row'><div class='col-xs-3 activity-img'><img src='" + v1.PATIENT_PROFILE_PIC + "' class='img-responsive' alt='" + v1.PATIENT_USERNAME + "' title='" + v1.PATIENT_USERNAME + "' height='50px' width='50px' /></div><div class='col-xs-7 activity-desc'><h5><a href='#'>" + v1.PATIENT_USERNAME + "</a></h5><p>" + v1.FBDK_DESC + "</p></div><div class='col-xs-2 activity-desc1'>" + v1.RATING + " </h6></div><div class='clearfix'> </div></div >";
        });
        $('#style-1').html(rows);

    });




    //Displaying Text on model

    window.onload = function () {
       $('#myModal').modal();
    }



    $.get('/Doctor/getTodayReminders', function (data) {

        data = JSON.parse(data);
        var rows = "";
        $.each(data.Table, function (i, v1) {
            rows += '<tr><td>' + v1.text + '</td><tr>'
        });

        $('#myTable1 tbody').html(rows);

    });


</script>